img {
  width: 400px;
  padding: 2em;
}

.galery {
  margin: 0 0 0 10%;
}

@media (max-width: 500px) {
  .row1 {
    margin-left: -6%;
  }
}
@media screen and (min-width: 500px) and (max-width: 840px) {
  .row1 {
    margin-left: 15%;
  }
}
