<div class="navbar">
  <a href="/" class="navbar-item">
    <!-- <img class="navbar-icon" src="../../assets/images/logo.png" alt="" /> -->
    HOME 21
  </a>
  <div class="navbar-links">
    <ul>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/aboutUs">About Us</a>
      </li>
      <li>
        <button>Change Language</button>
      </li>
    </ul>
  </div>

  <div class="mobileBar">
    <i (click)="showMobileBar()" class="fa-solid fa-bars"></i>
  </div>
</div>

<!-- <app-mobilebar
  *ngClass="mobileOrnot ? 'show' : 'hide'"
  style="display: none"
></app-mobilebar> -->
