.navbar {
  width: 100%;
  display: flex;
  list-style: none;
  height: 9em;
  background-color: #666279;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar-item {
  background: transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 200%;
  font-weight: 100;
  text-align: center;
  text-shadow: 0 0 0px #cac5df, 0 0 10px #cac5df;
  margin: 0 0 2em 10%;
}

.navbar-links {
  display: inline-block;
  z-index: 2;
  margin: 1em 5rem 0 0;
}

.navbar-links ul {
  list-style: none;
}

.navbar-links ul li {
  margin: 0 0 4em 3.4em;
  display: inline-block;
}

.navbar-links ul li a {
  font-family: monospace !important;
  font-weight: 900;
  font-size: 1.4em;
}

.navbar-links a:hover {
  color: #f3f1ff;
  text-shadow: 0 0 10px #cac5df, 0 0 10px #666279;
  border-bottom: 2px solid #cac5df;
  transition: 0.5s;
}

.navbar-links button {
  border: none;
  color: #666279;
  font-weight: 800;
  width: 11em;
  height: 2.5em;
  border-radius: 1.1em;
}

.navbar-links button:hover {
  box-shadow: 0 0 5px #cac5df, 0 0 10px #666279;
  transition: 0.5s;
}

.mobileBar {
  color: white;
  z-index: 10;
  font-size: 2em;
  margin: 0 10% 2em 0;
  display: none;
}

.show {
  display: flex;
}
.mobile_Menu {
  align-items: end;
  display: none;
  list-style-type: none;
}
@media (max-width: 500px) {
  .navbar-links {
    display: none;
  }
  .navbar {
    width: 100%;
  }
  .mobileBar {
    display: block;
  }
  .mobile_Menu {
    display: block;
    text-align: end;
    list-style-type: none;
    height: 110dvh;
    width: 100%;
    background-color: #666279;
    z-index: 1000;
    position: absolute;
    margin-top: -9rem;
    display: flex;
    justify-content: center;
    transition: 0.4 ease-in-out;
    right: -1000px;
  }
  .mobile_menu {
    right: 0;
    transition: 0.4 ease-in-out;
  }
}

@media screen and (min-width: 500px) and (max-width: 840px) {
  .navbar-links {
    display: none;
  }
  .navbar {
    width: 100%;
  }
  .mobileBar {
    display: block;
  }
}
