<div class="informatSpace">
  <div class="boxesSpace">
    <div class="informationalBoxes photo">
      <div class="mainInfo">
        <h1>PHOTO GALERY</h1>
        <p>
          Our Video galery, taken pictures in our studio while working procces
        </p>
        <button name="photogalery" (click)="changePage($event)">Browse</button>
      </div>
    </div>
    <div class="informationalBoxes videos">
      <div class="mainInfo">
        <h1>VIDEO <br />GALERY</h1>
        <p>
          Our Video galery, taken pictures in our studio while working procces
        </p>
        <button name="video" (click)="changePage($event)">Browse</button>
      </div>
    </div>
    <div class="informationalBoxes calendar">
      <div class="mainInfo">
        <h1>CALENDAR</h1>
        <br />
        <br />

        <p>Our Time Tables, for each free times in each dance studio</p>

        <button name="calendar" (click)="changePage($event)">Browse</button>
      </div>
    </div>
    <div class="informationalBoxes team">
      <div class="mainInfo">
        <h1>Meet Our Team</h1>
        <p>Our team members</p>
        <br />
        <button name="team" (click)="changePage($event)">Browse</button>
      </div>
    </div>
  </div>
</div>
